
/* html {
  width: auto;
} */
/* @media (max-width: 4500px) {
  html {
    font-size:75%;
  }
}
@media (max-width: 2000px) {
  html {
    font-size:60%;
  }
}
@media (max-width: 1900px) {
  html {
    font-size:40%;
  }
}
@media (max-width: 300px) {
  html {
    font-size:25%;
  }
} */
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: PT Root UI, 'Source Sans Pro';
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
/* body {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  
} */


.desktop-layout-Jqk {
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    width: 100%;
    margin: 0 auto;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 50px 160px;
    gap: 70px;
}

.desktop-layout-dtA {
  gap: 30px !important;
}




.futer-Asx {
  box-sizing: border-box;
  padding: 4rem 16rem 5.9rem 16rem;
  width: 192rem;
  height: 24.9rem;
  position: absolute;
  left: 0;
  top: 325.6rem;
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
}
.sermed-46A {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #006f79;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-w7zv-xSS {
  box-sizing: border-box;
  padding-right: 3.95rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.sermed-Euk {
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}


.item--iCe {
  text-decoration: none;
  width: 100%;
  /* height: 2.2rem; */
  position: absolute;
  left: 0;
  top: 3.2rem;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  /* #14abb5; */
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.item--QrA {
  text-decoration: none;
  width: 100%;
  /* height: 2.2rem; */
  position: absolute;
  left: 0.1rem;
  top: 6.4rem;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}


.frame-2590-F66 {
  width: 18.4rem;
  flex-shrink: 0;
}


.item--89t {
  margin-left: 0.7rem;
  max-width: 17.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
}


.frame-2591-83Q {
  width: 14.6rem;
  height: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.item--fZ8 {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.babor-skinovage-nte {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.christina-jYz {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.item--qrv {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.item--kiz {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}


.item-8-800-550-71-76-5ug {
  margin-bottom: 0.2rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.item-8-800-550-71-76-5ug:hover{
  color: #14abb5;
}
.item--bt2 {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.clinicasermedslpgmailcom-FSn {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #18181b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.clinicasermedslpgmailcom-FSn:hover {
  color: #14abb5;
}

.frame-2586-Mki {
  margin-right: 2.6rem;
  width: calc(100% - 2.6rem);
  height: 3rem;
  display: flex;
  align-items: center;
}

.frame-2584-hpa {
  margin-right: 2.15rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.facebook-SnA {
  margin-right: 0.55rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.facebook-bQA {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.facebook-bQA:hover {
  color: #14abb5;
}

.frame-2585-jmG {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.instagramm-tPG {
  margin-right: 0.6rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.instagram-3GA {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-3GA:hover {
  color: #14abb5;
}

.auto-group-xf2e-kRU {
  width: 100%;
  /* box-sizing: border-box;
  padding: 0.6rem 15.8rem 6rem 16rem;
  width: 192rem; 
  height: 261.3rem;
  position: absolute;
  left: 0;
  top: 13.5rem;
  align-items: center;
  display: flex;
  flex-direction: column; */

  
}
.auto-group-exoc-286 {
  width: 100%;
  height: 45vh;
  position: relative;
}
.text-xGe {
  width: 22rem;
  height: 2.4rem;
  position: absolute;
  left: 64.5rem;
  top: 19.6rem;
  font-size: 6.8rem;
  font-weight: 400;
  line-height: 0.3529411765;
  color: #1f2937;
  font-family: PT Root UI, 'Source Sans Pro';
}
.frame-2667-evA {
  width: 100%;
  height: 45vh;
  position: absolute;
  margin-bottom: 22px;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #f9fafb;
  border-radius: 2rem;
}

.image_4 {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 100%;
  border-radius: 2rem;

}

.frame-2669-XsU {
  position: absolute;
  top: 10%;
  left: 4%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.text-46i {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1111111111;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
}

.text-jCr {
  width: 90%;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5454545455;
  color: #374151;
  font-family: PT Root UI, 'Source Sans Pro';
}

.img2156-1-4F8 {
  position: absolute;
  bottom: 0;
  right: 7%;
  max-height: 400px;
  height: 90%;
  width: auto;
  object-fit: cover;
}
.group-40072-mfL {
  width: 13%;
  height: 11%;
  position: absolute;
  left: 50%;
  top: 38%;
}
.ellipse-90-Wcv {
  width: 102px;
  height: 102px;
  position: absolute;
  left: 27px;
  top: 0;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.6999999881);
  border-radius: 50px;
}
.text-dxS {
  width: 114px;
  height: 72px;
  position: absolute;
  left: 0;
  top: 26px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #374151;
  font-family: PT Root UI, 'Source Sans Pro';
}
.text-kXG {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #374151;
  font-family: PT Root UI, 'Source Sans Pro';
}
.frame-2668-Fiv {
  width: 22px;
  height: 16px;
  position: absolute;
  left: -5%;
  top: -29%;
  object-fit: contain;
  vertical-align: top;
}
.tab-vaA {
  display: flex;
  column-gap: 10px;
  align-items: center;
  flex-shrink: 0;
}
.button-Ear {
  flex: 32%;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccf5f5;
  border-radius: 100px;
  flex-shrink: 0;
  text-decoration: none;
}
.button-Ear:hover {
  background-color: #9FEEF0;
  color: #0097A1;
}

.button-Xpr {
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 290px;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccf5f5;
  border-radius: 100px;
  flex-shrink: 0;
  text-decoration: none;
}
.button-Xpr:hover {
  background-color: #9FEEF0;
  color: #0097A1;
}

.button-Cg6 {
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 290px;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccf5f5;
  border-radius: 100px;
  flex-shrink: 0;
  text-decoration: none;
}
.button-Cg6:hover {
  background-color: #9FEEF0;
  color: #0097A1;
}

.card-gbG {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.frame-2552-oQz {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.text-jZY {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1111111111;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
}
.text-button-H5G {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}
.text-RhG {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
}
.text-RhG:hover {
  /* background-color: #EDFBFB; */
  background-color: #ccf5f5;
  border-radius: 1rem;

}

.icon-L3Y {
  width: 13px;
  height: 11px;
  object-fit: contain;
}
.auto-group-vzfl-FwC {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 7px;
}
.auto-group-ntbc-ycJ {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.auto-group-xage-j5g {
  margin-bottom: 20px;
  width: 100%;
  height: 402px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.frame-left {
  width: 70%;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}

.frame-right {
  position: relative;
  overflow-x: hidden;
  width: 30%;
  height: 60vh;
  border-radius: 20px;
}

.frame-top {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  gap: 7px;
}

.frame-bottom {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  gap: 7px;
}

.frame-box {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f9fafb;
  border-radius: 20px;
  overflow-x: hidden;
}
.frame-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: top;
  background-size: 100%;
}

.frame-top-left {
  flex: 60%;
}

.frame-top-right {
  flex: 40%;
}

.text {
  width: 90%;
  word-wrap: break-word;
  position: absolute;
  top: 4%;
  left: 4%;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  color: #374151;
  font-family: PT Root UI, 'Source Sans Pro';
}
.frame-2497-B66 {
  overflow: hidden;
  background-color: #f3f4f6;
  border-radius: 20px;
  flex-shrink: 0;
}
.image-36-v3g {
  width: 1152px;
  height: 768px;
  position: absolute;
  left: -217px;
  top: -323px;
  object-fit: cover;
  vertical-align: top;
}
.text-Fre {
  width: 297px;
  height: 36px;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #374151;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.auto-group-rgjg-yXk {
  width: 100%;
  height: 338px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  flex-shrink: 0;
}
.frame-2499-Kbc {
  width: 340px;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f3f4f6;
  border-radius: 20px;
  flex-shrink: 0;
}
.image-31-5qg {
  width: 513px;
  height: 342px;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.text-31p {
  width: 223px;
  height: 36px;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #374151;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2501-jQS {
  width: 340px;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f3f4f6;
  border-radius: 20px;
  flex-shrink: 0;
}
.portrait-beautiful-naked-woman-apply-cosmetic-white-clay-mask-on-with-brush-isolated-on-a-white-back-1-VeW {
  width: 1244px;
  height: 829px;
  position: absolute;
  left: -368px;
  top: -266px;
  object-fit: cover;
  vertical-align: top;
}
.text-n7p {
  width: 229px;
  height: 36px;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #374151;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2500-H4a {
  width: 339px;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f3f4f6;
  border-radius: 20px;
  flex-shrink: 0;
}
.female-patient-receiving-cosmetic-treatment-1-2H4 {
  width: 507px;
  height: 338px;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.text-8qt {
  width: 181px;
  height: 36px;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #374151;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2498-EP8 {
  width: 519px;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f3f4f6;
  border-radius: 20px;
  flex-shrink: 0;
}
.text-y5p {
  width: 77px;
  height: 36px;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #374151;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.giving-an-injection-in-the-eyebrow-on-the-female-face-white-space-1-5Pk {
  width: 519px;
  height: 781px;
  /* position: absolute; */
  left: 0;
  top: -21px;
  object-fit: cover;
  vertical-align: top;
}
.listing-xiS {
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.text-KYz {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1111111111;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
}

/* 6 блок - товары косметики начало */
.frame-2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.frame:hover {
  box-shadow: 0 0 10px 0 gray;
}

.frame-2546-Mka {
  width: 100%;
  height: 371px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame {
  flex: 32%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;

  transition: all 400ms ease;
}

.frame-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frame-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pict-xVU {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 230px;
  height: 230px;
  object-fit: contain;
  vertical-align: top;
  border-radius: 8px;
  flex-shrink: 0;
}
.frame-2437-6Ln {
  width: 242px;
  flex-shrink: 0;
}
.txt-f8z {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.item--Cei {
  margin-bottom: 2px;
  max-width: 228px;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--SZ4 {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.price-9Ca {
  margin-right: 119px;
  width: calc(100% - 119px);
  height: 26px;
  display: flex;
  align-items: center;
}
.item-1-350-rcn {
  margin-right: 10px;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-912-yhQ {
  width: 58px;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-1-500-LH4 {
  width: 58px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  color: #9ca3af;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.item-1-500-LH4-sub-0 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.625;
  color: #9ca3af;
  font-family: Inter, 'Source Sans Pro';
}

.line-55-58A {
  width: 58px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 13px;
  background-color: #9ca3af;
}
.auto-group-xqge-AfQ {
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2491-gNr {
  margin-right: 18px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  width: 252px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  flex-shrink: 0;
}
.auto-group-rwkg-bVp {
  margin-right: 12px;
  margin-bottom: 10px;
  width: 230px;
  height: 230px;
  position: relative;
  flex-shrink: 0;
}
.pict-w3t {
  width: 230px;
  height: 230px;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
  border-radius: 8px;
}
.pointing-hand-48W {
  width: 17px;
  height: 20px;
  position: absolute;
  left: 207px;
  top: 21px;
  object-fit: contain;
  vertical-align: top;
}
.frame-2437-PRg {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.txt-f8J {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--pWz {
  margin-bottom: 2px;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--3uY {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.price-7uQ {
  margin-right: 145px;
  width: calc(100% - 145px);
  height: 26px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-350-mDG {
  margin-right: 6px;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-912-CpN {
  width: 58px;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-1-500-Zev {
  width: 58px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  color: #9ca3af;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.item-1-500-Zev-sub-0 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.625;
  color: #9ca3af;
  font-family: Inter, 'Source Sans Pro';
}

.line-55-5Ft {
  width: 58px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 13px;
  background-color: #9ca3af;
}
.frame-2492-ng6 {
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  width: 250px;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.0799999982); */
  background-color: #ffffff;
  border-radius: 10px;
  flex-shrink: 0;
}
.auto-group-dwiz-XNn {
  margin-bottom: 9px;
  width: 100%;
  height: 231px;
  position: relative;
  flex-shrink: 0;
}
.pict-fzn {
  width: 230px;
  height: 230px;
  object-fit: contain;
  vertical-align: top;
  border-radius: 8px;
}
.pointing-hand-RUA {
  width: 17px;
  height: 20px;
  position: absolute;
  left: 177px;
  top: 211px;
  object-fit: contain;
  vertical-align: top;
}
.frame-2437-99G {
  margin-right: 1px;
  width: 229px;
  flex-shrink: 0;
}
.txt-tsY {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.item--2D4 {
  margin-bottom: 2px;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Uqk {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.price-nrS {
  margin-right: 106px;
  width: calc(100% - 106px);
  height: 26px;
  display: flex;
  align-items: center;
}
.item-1-350-hiW {
  margin-right: 10px;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-912-bYz {
  width: 58px;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-1-500-xPY {
  width: 58px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  color: #9ca3af;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.item-1-500-xPY-sub-0 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.625;
  color: #9ca3af;
  font-family: Inter, 'Source Sans Pro';
}

.line-55-CHt {
  width: 58px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 13px;
  background-color: #9ca3af;
}
.frame-2493-J62 {
  margin-right: 20px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 8px;
  padding-bottom: 15px;
  padding-left: 10px;
  width: 250px;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  flex-shrink: 0;
}
.pict-csQ {
  margin-right: 2px;
  margin-bottom: 10px;
  width: 230px;
  height: 230px;
  object-fit: contain;
  vertical-align: top;
  border-radius: 8px;
  flex-shrink: 0;
}
.frame-2437-vt6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.txt-ta2 {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--TNE {
  margin-bottom: 2px;
  max-width: 232px;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--4cv {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.price-kEr {
  margin-right: 109px;
  width: calc(100% - 109px);
  height: 26px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-350-sKU {
  margin-right: 10px;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-912-AJa {
  width: 58px;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-1-500-7zW {
  width: 58px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  color: #9ca3af;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.item-1-500-7zW-sub-0 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.625;
  color: #9ca3af;
  font-family: Inter, 'Source Sans Pro';
}

.line-55-Mtr {
  width: 58px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 13px;
  background-color: #9ca3af;
}
.frame-2494-FDY {
  margin-right: 18px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  width: 252px;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  flex-shrink: 0;
}
.pict-MXU {
  margin-right: 12px;
  margin-bottom: 21px;
  width: 230px;
  height: 230px;
  object-fit: contain;
  vertical-align: top;
  border-radius: 8px;
  flex-shrink: 0;
}
.frame-2437-sVp {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.txt-EbG {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--xGN {
  margin-bottom: 13px;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--R9x {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.price-7Hg {
  margin-right: 119px;
  width: calc(100% - 119px);
  height: 26px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-350-rWA {
  margin-right: 10px;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-912-bCr {
  width: 58px;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-1-500-8Tg {
  width: 58px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  color: #9ca3af;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.item-1-500-8Tg-sub-0 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.625;
  color: #9ca3af;
  font-family: Inter, 'Source Sans Pro';
}

.line-55-Ncv {
  width: 58px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 13px;
  background-color: #9ca3af;
}
.frame-2495-JFg {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  width: 252px;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  flex-shrink: 0;
}
.pict-SMt {
  margin-right: 12px;
  margin-bottom: 10px;
  width: 230px;
  height: 230px;
  object-fit: contain;
  vertical-align: top;
  border-radius: 8px;
  flex-shrink: 0;
}
.frame-2437-x5L {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.txt-H7c {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--dBU {
  margin-bottom: 2px;
  max-width: 228px;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--41t {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.price-AKp {
  margin-right: 119px;
  width: calc(100% - 119px);
  height: 26px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-350-qwk {
  margin-right: 10px;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-912-nMC {
  width: 58px;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-1-500-7PU {
  width: 58px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  color: #9ca3af;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.item-1-500-7PU-sub-0 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.625;
  color: #9ca3af;
  font-family: Inter, 'Source Sans Pro';
}

.line-55-xez {
  width: 58px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 13px;
  background-color: #9ca3af;
}

.frame-2438-Jvi:hover, .frame-2491-gNr:hover, .frame-2492-ng6:hover, 
.frame-2495-JFg:hover  {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.0799999982);
}


/* 6 блок - товары косметики конец */


.makeup-UNS {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.frame-2503-zra {
  flex: 50%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  background-color: #fef2f2;
  border-radius: 20px;
}
.group-40055-wG2 {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 2%;
  bottom: 5%;
  object-fit: contain;
  vertical-align: top;
}
.group-40057-Rwt {
  width: 173px;
  height: 173px;
  position: absolute;
  left: 41px;
  top: 163px;
  object-fit: contain;
  vertical-align: top;
}
.group-40056-a46 {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 2%;
  bottom: 42%;
  object-fit: contain;
  vertical-align: top;
}
.text-WiS {
  width: 252px;
  height: 36px;
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #374151;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.mykaleidoscope-ru-p-professionalnaya-kosmetika-kristina-pinter-6-1-2gn {
  width: 390px;
  height: 390px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: -16%;
  background-size: 100% 101.507%;
  background-position: 0 -23px;
  background-image: url('REPLACE_IMAGE:617f31c1bff8eba0859ea9271812fb9d6443c0d1');
}
.frame-2504-2aJ {
  flex: 50%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  background-color: #f7fee7;
  border-radius: 20px;
}
.text-BCJ {
  width: 145px;
  height: 36px;
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #374151;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.vector-60-hgS {
  width: 323px;
  height: 299px;
  position: absolute;
  right: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.vector-61-Se2 {
  width: 284px;
  height: 252px;
  position: absolute;
  left: -88px;
  top: 222px;
  object-fit: contain;
  vertical-align: top;
}
.mykaleidoscope-ru-p-professionalnaya-kosmetika-kristina-pinter-6-1-BrW {
  width: 647px;
  height: 464px;
  position: relative;
  left: 71px;
  top: 48px;
  background-size: 100% 117.293%;
  background-position: -0px -26px;
  background-image: url('REPLACE_IMAGE:ecab04adb3c1f3b197f6d913fb711eec6ec88c52');
}
.pointing-hand-3ti {
  width: 17px;
  height: 20px;
  position: absolute;
  left: 719px;
  top: 454px;
  object-fit: contain;
  vertical-align: top;
}
.modal-8fG {
  height: 45vh;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.frame-2529-drv {
  flex: 50%;
  position: relative;
  box-sizing: border-box;
  padding: 25px;
  height: 37vh;
  display: flex;
  align-items: center;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 20px;
  gap: 10px;
}
.place-your-screen-here-1-njp {
  height: 24vh;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2653-WQv {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2655-foc {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.text-bSN {
  width: 85%;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  color: #111827;
  word-wrap: break-word;
  font-family: PT Root UI, 'Source Sans Pro';
  flex-shrink: 0;
}
.text-jYa {
  width: 85%;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  flex-shrink: 0;
}
.button-Um4 {
  box-sizing: border-box;
  padding: 11px 16px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.375;
  color: #ffffff;
  font-family: PT Root UI, 'Source Sans Pro';
  background-color: #14abb5;
  border-radius: 38px;
  text-decoration: none;
}
.button-Um4:hover {
  background-color: #00838D;
}

.frame-2530-gcE {
  box-sizing: border-box;
  padding: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 20px;
  flex-shrink: 0;
}
.place-your-screen-here-1-1eW {
  margin: 0px 2px 24px 0px;
  width: 108px;
  height: 224px;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2653-wHG {
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2655-TWW {
  margin: 0px 2px 40px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.text-1H8 {
  margin-bottom: 20px;
  max-width: 580px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  flex-shrink: 0;
}
.text-9eE {
  max-width: 580px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  flex-shrink: 0;
}
.button-5Gz {
  box-sizing: border-box;
  padding: 11px 0px 11px 16px;
  width: 215px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.375;
  color: #ffffff;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #14abb5;
  border-radius: 38px;
  flex-shrink: 0;
  text-decoration: none;
}
.button-5Gz:hover {
  background-color: #00838D;
}


.rectangle-778-93C {
  width: 100%;
  height: 0.3rem;
  background-color: #14abb5;
  flex-shrink: 0;
}

.frame-2580-C5L {
  /* margin: 0.8% 0;
  box-sizing: border-box;
  padding-left: 0.3%;
  height: calc(100% - 1.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0; */
  margin: 0.8rem 0;
  box-sizing: border-box;
  padding-left: 0.3rem;
  height: calc(100% - 1.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.pointing-hand-YcN {
  width: 1.7723rem;
  height: 2rem;
  position: absolute;
  left: 71.7139rem;
  top: 11.5rem;
  object-fit: contain;
  vertical-align: top;
}

.item--89t, 
.babor-skinovage-nte , .christina-jYz, .item--qrv, .item--kiz,
.item-8-800-550-71-76-5ug, .clinicasermedslpgmailcom-FSn, .frame-2584-hpa,
.frame-2585-jmG{
  text-decoration: none;
}

.item--8kE:hover , .item--iCe:hover , .item--QrA:hover, .item--89t:hover, 
.item--kiz:hover{
  color: #14abb5;
}


.frame-1353-qoC-1:hover, .frame-1353-qoC-2:hover, .frame-1353-qoC-3:hover, .frame-1353-qoC-4:hover,
.frame-1353-qoC-7:hover{
  color: #14abb5;
  border-bottom: 2px solid #14abb5; 
}


.in-basket{
  background-image: url('../image/basket/basket.png');
  background-size: 100%;
  position: absolute;
  width: 36px;
  height: 36px;
  top: 5%;
  right: 5%;
  border-radius: 0.8rem;
  z-index: 1;
}

.in-basket2{
  /* margin: 0rem 1rem 1rem 0rem; */
  /* background-image: url('../image/basket/basket.png');
  background-size: 4rem 4rem; */
  position: inherit;
  bottom: 0rem;
  right: -8.9rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
  z-index: 1;
}

.in-basket3{
  background-image: url('../image/basket/basket.png');
  background-size: 4rem 4rem;
  position: inherit;
  bottom: 0rem;
  right: -8.9rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
  z-index: 1;
}

.in-basket3:hover{
  background-image: url('../image/basket/basket2.png');
  background-size: 4rem 4rem;
}

.frame_4 {
  position: absolute;
  height: 100%;
  width: 100%;
}

.frame-for-citat {
  position: absolute;
  max-width: 150px;
  position: absolute;
  right: 3%;
  top: 8%;
}

@media (max-width: 1030px) {
  .group-40072-mfL {
    left: 46%;
    top: 55%;
  }

  .text-bSN {
    font-size: 24px;
  }

  .text-jYa {
    font-size: 14px;
  }

  .button-Um4 {
    font-size: 14px;
    padding: 6px 10px;
  }

  .button-Ear {
    padding: 12px 12px;
    font-size: 16px;
  }

  .makeup-UNS {
    flex-direction: column;
  }

  .frame-2503-zra, .frame-2504-2aJ {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .frame-left, .frame-right {
    height: 45vh;
  }

  .frame-top, .frame-bottom {
    height: 22.5vh;
  }

  .text {
    font-size: 18px;
  }
}

@media (max-width: 826px) {
  .text-46i {
    font-size: 22px;
  }

  .text-jCr {
    font-size: 18px;
  }

  .img2156-1-4F8 {
    right: 3%;
    height: 80%;
  }

  .ellipse-90-Wcv {
    width: 60px;
    height: 60px;
  }

  .group-40072-mfL {
    left: 49%;
    top: 66%;
  }

  .text-dxS {
    font-size: 14px;
    top: 15px;
  }

  .text-kXG {
    font-size: 14px;
  }

  .frame-2669-XsU {
    top: 27%;
  }

  .tab-vaA {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .button-Ear {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 780px) {
  .modal-8fG {
    flex-direction: column;
  }
}

@media (max-width: 670px) {
  .mobile {
    display: none;
  }

  .frame-2669-XsU {
    top: 6%;
  }

  .img2156-1-4F8 {
    right: 28%;
    height: 65%;
  }

  .text-46i {
    font-size: 20px;

  }

  .frame-2669-XsU {
    width: 100%;
  }

  .group-40072-mfL {
    left: 20%;
    top: 73%;
  }

  .mykaleidoscope-ru-p-professionalnaya-kosmetika-kristina-pinter-6-1-2gn {
    width: 250px;
    height: 250px;
    transform: translate(-50%, 10%);
  }
}

@media (max-width: 600px) {
  .frame {
    flex: 80%;
  }

  .text-jZY {
    font-size: 28px;
  }
}

@media (max-width: 511px) {
  .text-jCr {
    font-size: 15px;
  }

  .img2156-1-4F8 {
    right: 18%;
  }

  .auto-group-vzfl-FwC {
    flex-direction: column;
    height: 95vh;
  }

 .frame-box, .frame-top, .frame-bottom, .frame-left, .frame-right {
    flex-direction: column;
    width: 100%;
    height: 30vh;
    flex: none;
  }
}

@media (max-width: 474px) {
  .text-bSN {
    width: 90%;
    font-size: 20px;
  }

  .text-jYa {
    width: 90%;
    font-size: 12px;
  }
  .text-jZY {
    font-size: 22px;
  }

  .makeup-UNS {
    height: 50vh;
  }

  .mykaleidoscope-ru-p-professionalnaya-kosmetika-kristina-pinter-6-1-2gn {
    transform: translate(-50%, -10%);
  }
}

@media (max-width: 409px) {
  .frame-2669-XsU {
    left: 11%;
  }

  .img2156-1-4F8 {
    right: 12%;
  }

  .group-40072-mfL {
    left: 5%;
  }

  .button-Um4 {
    font-size: 12px;
    padding: 5px 7px;
  }

  .modal-8fG {
    height: 64vh;
  }

  .place-your-screen-here-1-njp {
    height: 18vh;
  }

  .frame-2529-drv {
    padding: 20px;
  }

  .text-jZY {
    font-size: 20px;
  }
}

@media (max-width: 358px) {
  .img2156-1-4F8 {
    right: 3%;
    height: 60%;
  }
  .frame-2669-XsU {
    left: 6%;
  }

  .text-46i {
    width: 93%;
  }

  .text-bSN {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .modal-8fG {
    height: 72vh;
  }
}