
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-layout-4Pp {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 {
  width: 100%;
  height: 144.2rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN {
  box-sizing: border-box;
  padding: 1.2rem 16rem;
  width: 192.0806rem;
  height: 7rem;
  position: absolute;
  left: 0.0097rem;
  top: 5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.0599999987);
  background-color: #ffffff;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez {
  margin-right: 33.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .image-2-7Q2 {
  margin-right: 1rem;
  width: 4.6rem;
  height: 4.6rem;
  position: relative;
  background-size: 136.915% 100%;
  background-position: -0.7569rem 0;
  background-image: url('REPLACE_IMAGE:ee2b50aa0a3148a7ba50f13bded550e94f277436');
  border-radius: 100rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .sermed-4ia {
  margin: 1.724rem 0rem 1.724rem 0rem;
  height: calc(100% - 3.448rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .sermed-4ia .vector-5ta {
  margin: 0rem 0.063rem 0rem 0rem;
  width: 0.88rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .sermed-4ia .vector-wQz {
  margin: 0.016rem 0.223rem 0rem 0rem;
  width: 0.96rem;
  height: 1.136rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .sermed-4ia .vector-bVY {
  margin: 0rem 0.224rem 0rem 0rem;
  width: 0.912rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .sermed-4ia .vector-hoU {
  margin: 0rem 0.224rem 0rem 0rem;
  width: 0.912rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .sermed-4ia .vector-ByY {
  margin: 0rem 0.224rem 0rem 0rem;
  width: 0.912rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .sermed-4ia .vector-Ewp {
  margin: 0rem 0.055rem 0rem 0rem;
  width: 0.88rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .sermed-4ia .vector-YSi {
  margin: 0rem 0.48rem 0rem 0rem;
  width: 1.024rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .sermed-4ia .vector-Qzi {
  margin: 0rem 0.177rem 0rem 0rem;
  width: 0.848rem;
  height: 1.152rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .sermed-4ia .vector-viA {
  margin: 0rem 0.175rem 0rem 0rem;
  width: 0.72rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .sermed-4ia .vector-min {
  margin: 0rem 0.144rem 0rem 0rem;
  width: 0.848rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .sermed-4ia .vector-RYS {
  margin: 0rem 0.223rem 0rem 0rem;
  width: 1.072rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .sermed-4ia .vector-LQW {
  margin: 0rem 0.175rem 0rem 0rem;
  width: 0.72rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2581-aez .sermed-4ia .vector-brE {
  margin-top: 0rem;
  width: 0.904rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z {
  margin: 0.1rem 13.4rem 0rem 0rem;
  width: 86.5rem;
  height: 4.5rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU {
  width: 66.5rem;
  height: 4.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 3rem;
  align-items: center;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-Eni {
  width: 5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-Eni .frame-1353-jUa {
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-Eni .rectangle-778-AJz {
  width: 100%;
  height: 0.3rem;
  background-color: #14abb5;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-FbL {
  width: 7.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 0 0.8rem 0 0;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-FbL .frame-1353-MPU {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-ZVY {
  width: 4.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-ZVY .frame-1353-G94 {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-j2e {
  width: 12.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-j2e .frame-1353-SSr {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-SrA {
  width: 4.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-SrA .frame-1353-C4e {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-1nn {
  width: 7.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-1nn .frame-1353-A9t {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-Zxi {
  width: 6.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .tab-example-light-desktop-g6z .tabs-ZwU .desktop-tab-Zxi .frame-1353-7jL {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2580-Xo4 {
  margin: 0.8rem 0;
  box-sizing: border-box;
  padding-left: 0.3rem;
  height: calc(100% - 1.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2580-Xo4 .icon-ExN {
  margin-right: 2.3rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2580-Xo4 .basket-Kyp {
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2580-Xo4 .basket-Kyp .icon-djc {
  width: 1.6rem;
  height: 1.8rem;
  position: absolute;
  left: 0.4rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-primary-ALN .frame-2580-Xo4 .basket-Kyp .frame-28-kJS {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14abb5;
  border-radius: 10rem;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-secondary-FPc {
  box-sizing: border-box;
  padding: 1.4rem 16.1rem 1.4rem 114.7rem;
  width: 191.9rem;
  height: 5rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background-color: #f9fafb;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-secondary-FPc .frame-2562-w1Y {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-secondary-FPc .frame-2562-w1Y .text-button-EFY {
  margin-right: 0.75rem;
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.2rem 0.8rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2857142857;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-secondary-FPc .frame-2562-w1Y .clinicasermedslpgmailcom-xKx {
  margin-right: 3.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-secondary-FPc .frame-2562-w1Y .item-8-800-550-71-76-DFt {
  margin-right: 2.95rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-secondary-FPc .frame-2562-w1Y .frame-2486-erz {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-secondary-FPc .frame-2562-w1Y .frame-2486-erz .text-Ppa {
  margin-right: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .header-secondary-FPc .frame-2562-w1Y .frame-2486-erz .text-EKQ {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .text-WGv {
  width: 41.8rem;
  height: 4rem;
  position: absolute;
  left: 16rem;
  top: 16rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.1111111111;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC {
  width: 159.9rem;
  height: 83.4rem;
  position: absolute;
  left: 16rem;
  top: 22rem;
  display: flex;
  align-items: flex-start;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA {
  margin-right: 15.5rem;
  width: 106rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .frame-2451-8hc {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .frame-2451-8hc .receiving-5Mx {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0 0;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .frame-2451-8hc .receiving-5Mx .item-1-MKU {
  margin-right: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .frame-2451-8hc .receiving-5Mx .line-64-NkN {
  margin: 0rem 0.8rem 1.75rem 0rem;
  width: 0rem;
  height: 0.2rem;
  background-color: #111827;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .frame-2451-8hc .receiving-5Mx .item--qdx {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .frame-2451-8hc .frame-2450-GUN {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  height: 9.4rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .frame-2451-8hc .frame-2450-GUN .frame-2630-CN2 {
  width: 41.6rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .frame-2451-8hc .frame-2450-GUN .frame-2630-CN2 .frame-2625-w4i {
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 1rem 1rem 1.6rem 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #14abb5;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .frame-2451-8hc .frame-2450-GUN .frame-2630-CN2 .frame-2625-w4i .radiobutton-CWS {
  margin: 0.6rem 7.3rem 0rem 0rem;
  width: 8.3rem;
  height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .frame-2451-8hc .frame-2450-GUN .frame-2630-CN2 .frame-2625-w4i .radiobutton-xGe {
  margin-bottom: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .frame-2451-8hc .frame-2450-GUN .frame-2630-CN2 .frame-2626-xAA {
  box-sizing: border-box;
  padding: 1rem 1rem 1.6rem 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .frame-2451-8hc .frame-2450-GUN .frame-2630-CN2 .frame-2626-xAA .radiobutton-2fp {
  margin: 0.6rem 6.3rem 0rem 0rem;
  width: 9.3rem;
  height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .frame-2451-8hc .frame-2450-GUN .frame-2630-CN2 .frame-2626-xAA .radiobutton-bcS {
  margin-bottom: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #9ca3af;
  box-sizing: border-box;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp {
  box-sizing: border-box;
  padding-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 {
  margin-bottom: 4rem;
  width: 105.9rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .receiving-DnE {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .receiving-DnE .item-1-WmL {
  margin-right: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .receiving-DnE .line-64-EBY {
  margin: 0rem 0.8rem 1.75rem 0rem;
  width: 0rem;
  height: 0.2rem;
  background-color: #111827;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .receiving-DnE .item--JSJ {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 1rem;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .basic-input-BPc {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 49.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #9ca3af;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .frame-2627-9Dx {
  height: 6.8rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .frame-2627-9Dx .frame-2709-EFQ {
  width: 11rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .frame-2627-9Dx .frame-2709-EFQ .basic-input-mm8 {
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #9ca3af;
  background-color: #f9fafb;
  border-radius: 1rem;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .frame-2627-9Dx .frame-2709-EFQ .input-text-MjL {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .frame-2627-9Dx .frame-2710-RDQ {
  width: 11rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .frame-2627-9Dx .frame-2710-RDQ .basic-input-m2N {
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #9ca3af;
  background-color: #f9fafb;
  border-radius: 1rem;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .frame-2627-9Dx .frame-2710-RDQ .input-text-YBY {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .frame-2627-9Dx .frame-2711-G7Y {
  width: 11rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .frame-2627-9Dx .frame-2711-G7Y .basic-input-xWA {
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #9ca3af;
  background-color: #f9fafb;
  border-radius: 1rem;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .frame-2627-9Dx .frame-2711-G7Y .input-text-jvE {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .frame-2627-9Dx .frame-2712-TrE {
  width: 11rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .frame-2627-9Dx .frame-2712-TrE .basic-input-wWW {
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #9ca3af;
  background-color: #f9fafb;
  border-radius: 1rem;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .frame-2627-9Dx .frame-2712-TrE .input-text-MKL {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2446-7z6 .courier-uwt .basic-input-qVQ {
  box-sizing: border-box;
  padding: 1rem 1.2rem;
  width: 49.8rem;
  height: 9.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2452-zFp {
  width: 105.9rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2452-zFp .receiving-Hki {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2452-zFp .receiving-Hki .item-1-Csg {
  margin-right: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2452-zFp .receiving-Hki .line-64-v2z {
  margin: 0rem 0.8rem 1.75rem 0rem;
  width: 0rem;
  height: 0.2rem;
  background-color: #111827;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2452-zFp .receiving-Hki .item--MPC {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2452-zFp .courier-bHY {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 1rem;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2452-zFp .courier-bHY .basic-input-up2 {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 49.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #9ca3af;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2452-zFp .courier-bHY .basic-input-e9L {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 49.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #9ca3af;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2452-zFp .courier-bHY .basic-input-kbg {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 49.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .auto-group-jpsg-3gA .auto-group-7z4a-nwp .frame-2452-zFp .courier-bHY .basic-input-Zp2 {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 49.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #9ca3af;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE {
  margin-top: 4.8rem;
  box-sizing: border-box;
  padding: 2rem 2rem 0rem 2rem;
  width: 38.4rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G {
  margin-bottom: 1.8rem;
  width: 100%;
  height: 31.2rem;
  border-bottom: solid 0.2rem #e4e4e7;
  box-sizing: border-box;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz {
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 100%;
  height: 31rem;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .text-kfY {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2624-kox {
  height: 16rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2624-kox .auto-group-pdkj-sdg {
  margin-right: 0.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2624-kox .auto-group-pdkj-sdg .frame-164-Acn {
  margin-bottom: 0.4rem;
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2624-kox .auto-group-pdkj-sdg .frame-2602-bi6 {
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2624-kox .auto-group-bmbc-dug {
  margin-right: 0.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2624-kox .auto-group-bmbc-dug .frame-2600-9NE {
  margin-bottom: 0.4rem;
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2624-kox .auto-group-bmbc-dug .frame-2603-B42 {
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2624-kox .auto-group-p6jj-SVk {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2624-kox .auto-group-p6jj-SVk .frame-2605-99G {
  margin-bottom: 0.4rem;
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2624-kox .auto-group-p6jj-SVk .frame-2599-Qqt {
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2624-kox .auto-group-3zpg-X9p {
  box-sizing: border-box;
  padding-left: 0.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2624-kox .auto-group-3zpg-X9p .frame-2604-QzJ {
  margin-right: 0.4rem;
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2624-kox .auto-group-3zpg-X9p .frame-2601-gwp {
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2598-bot {
  width: 34rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2598-bot .frame-320-94i {
  margin: 0rem 0.3rem 1rem 0rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: center;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2598-bot .frame-320-94i .item--DKU {
  margin-right: 12.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2598-bot .frame-320-94i .item-1-350-Qer {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2598-bot .frame-324-dXc {
  width: 100%;
  display: flex;
  align-items: center;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2598-bot .frame-324-dXc .item--ybU {
  margin-right: 22.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .frame-2604-Z5G .auto-group-2mtc-FCz .frame-2598-bot .frame-324-dXc .item-1-350-qdg {
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .button-gPQ {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 1.6rem 0.9rem 1.6rem 4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #14abb5;
  border-radius: 10rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .auto-group-qlbq-ywC .frame-333-siE .txt-4er {
  max-width: 34.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #a1a1aa;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ {
  width: 105.9rem;
  height: 28.8rem;
  position: absolute;
  left: 16.1rem;
  top: 109.4rem;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .receiving-oF4 {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .receiving-oF4 .item-1-tGW {
  margin-right: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .receiving-oF4 .line-64-o8a {
  margin: 0rem 0.8rem 1.75rem 0rem;
  width: 0rem;
  height: 0.2rem;
  background-color: #111827;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .receiving-oF4 .item--s8S {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya {
  box-sizing: border-box;
  padding: 2rem 18.5rem 2rem 2rem;
  width: 100%;
  height: 24rem;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 1rem;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2629-awx {
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 2rem;
  width: 34rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2629-awx .frame-2631-Qvz {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2629-awx .frame-2631-Qvz .input-text-xBp {
  margin-bottom: 0.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2629-awx .frame-2631-Qvz .basic-input-oy8 {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2629-awx .frame-2634-zni {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2629-awx .frame-2634-zni .frame-2633-8P8 {
  margin-right: 1rem;
  width: 14.5rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2629-awx .frame-2634-zni .frame-2633-8P8 .input-text-EBG {
  margin-bottom: 0.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2629-awx .frame-2634-zni .frame-2633-8P8 .basic-input-YSr {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2629-awx .frame-2634-zni .frame-2632-8fx {
  width: 14.5rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2629-awx .frame-2634-zni .frame-2632-8fx .input-text-GnA {
  margin-bottom: 0.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2629-awx .frame-2634-zni .frame-2632-8fx .basic-input-kxE {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2637-Hqg {
  margin-top: 0.0189rem;
  width: 49.4rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2637-Hqg .frame-2636-Pti {
  margin-bottom: 2.019rem;
  height: 2.862rem;
  display: flex;
  align-items: center;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2637-Hqg .frame-2636-Pti .visa-HDQ {
  margin: 0rem 2rem 0rem 0rem;
  width: 4.7rem;
  height: 1.443rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2637-Hqg .frame-2636-Pti .vorkasse-BZg {
  margin: 0.589rem 2rem 0.589rem 0rem;
  height: calc(100% - 1.1787rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2637-Hqg .frame-2636-Pti .vorkasse-BZg .capa-1-gFY {
  margin-right: 0.2952rem;
  width: 1.6757rem;
  height: 1.6834rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2637-Hqg .frame-2636-Pti .vorkasse-BZg .item-2-NPG {
  margin-top: 0.0003rem;
  width: 4.1291rem;
  height: 0.7731rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2637-Hqg .frame-2636-Pti .master-card-mRQ {
  margin: 0rem 2rem 0rem 0rem;
  width: 4.1rem;
  height: 2.46rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2637-Hqg .frame-2636-Pti .qiwi-UKp {
  width: 2.8rem;
  height: 2.862rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2637-Hqg .frame-2635-mZp {
  box-sizing: border-box;
  padding-left: 0.24rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2637-Hqg .frame-2635-mZp .icon-ffC {
  margin: 0.233rem 1.24rem 0rem 0rem;
  width: 1.92rem;
  height: 1.9647rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .auto-group-ofi6-Ls8 .frame-2455-JJJ .courier-7Ya .frame-2637-Hqg .frame-2635-mZp .ssl-pci-dss-jux {
  max-width: 46rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2857142857;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 {
  box-sizing: border-box;
  padding: 4rem 16rem 5.9rem 16rem;
  width: 100%;
  height: 24.9rem;
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge {
  margin-right: 38.15rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2581-zcv {
  margin: 0rem 5.6rem 10.4rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2581-zcv .image-2-hGS {
  margin-right: 1rem;
  width: 4.6rem;
  height: 4.6rem;
  position: relative;
  background-size: 136.915% 100%;
  background-position: -0.7569rem 0;
  background-image: url('REPLACE_IMAGE:ee2b50aa0a3148a7ba50f13bded550e94f277436');
  border-radius: 100rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2581-zcv .sermed-Vxz {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #006f79;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .auto-group-sm9y-YwG {
  box-sizing: border-box;
  padding-right: 3.95rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .auto-group-sm9y-YwG .frame-2589-Smk {
  margin-right: 3.6rem;
  width: 13.8rem;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .auto-group-sm9y-YwG .frame-2589-Smk .sermed-XYJ {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .auto-group-sm9y-YwG .frame-2589-Smk .item--x7p {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .auto-group-sm9y-YwG .frame-2589-Smk .auto-group-13o4-mb4 {
  margin-left: 0.1rem;
  width: 9.1rem;
  height: 5.4rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .auto-group-sm9y-YwG .frame-2589-Smk .auto-group-13o4-mb4 .item--HJW {
  width: 8.3rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .auto-group-sm9y-YwG .frame-2589-Smk .auto-group-13o4-mb4 .item--KFC {
  width: 9rem;
  height: 2.2rem;
  position: absolute;
  left: 0.1rem;
  top: 3.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .auto-group-sm9y-YwG .frame-2589-Smk .auto-group-13o4-mb4 .pointing-hand-7Rx {
  width: 1.7723rem;
  height: 2rem;
  position: absolute;
  left: 7.2139rem;
  top: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .auto-group-sm9y-YwG .frame-2590-mFc {
  width: 18.4rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .auto-group-sm9y-YwG .frame-2590-mFc .item--u6v {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .auto-group-sm9y-YwG .frame-2590-mFc .item--xqt {
  margin-left: 0.7rem;
  max-width: 17.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .frame-2591-jEN {
  width: 14.6rem;
  height: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .frame-2591-jEN .item--Rcz {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .frame-2591-jEN .babor-skinovage-6UE {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .frame-2591-jEN .christina-a8W {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .frame-2591-jEN .item--HYi {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2594-6Ge .frame-2593-D8J .frame-2591-jEN .item--NMC {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2592-woc {
  margin-bottom: 8.4rem;
  height: 6.6rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2592-woc .frame-2587-U2r {
  margin-right: 4.4rem;
  width: 24.1rem;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2592-woc .frame-2587-U2r .item-8-800-550-71-76-a5t {
  margin-bottom: 0.2rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .futer-SC6 .frame-2592-woc .frame-2587-U2r .item--RcJ {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .futer-SC6 .frame-2592-woc .frame-2591-EJr {
  width: 21.9rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2592-woc .frame-2591-EJr .clinicasermedslpgmailcom-YaS {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #18181b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-4Pp .futer-SC6 .frame-2592-woc .frame-2591-EJr .frame-2586-p2A {
  margin-right: 2.6rem;
  width: calc(100% - 2.6rem);
  height: 3rem;
  display: flex;
  align-items: center;
}
.desktop-layout-4Pp .futer-SC6 .frame-2592-woc .frame-2591-EJr .frame-2586-p2A .frame-2584-G94 {
  margin-right: 2.15rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2592-woc .frame-2591-EJr .frame-2586-p2A .frame-2584-G94 .facebook-CHc {
  margin-right: 0.55rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2592-woc .frame-2591-EJr .frame-2586-p2A .frame-2584-G94 .facebook-uSv {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2592-woc .frame-2591-EJr .frame-2586-p2A .frame-2585-YEz {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2592-woc .frame-2591-EJr .frame-2586-p2A .frame-2585-YEz .instagramm-HTU {
  margin-right: 0.6rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-4Pp .futer-SC6 .frame-2592-woc .frame-2591-EJr .frame-2586-p2A .frame-2585-YEz .instagram-7SW {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
