
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-layout-F1Q {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp {
  width: 100%;
  height: 192rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .auto-group-etpc-Car {
  box-sizing: border-box;
  padding: 15.2rem 72.2rem 15.2rem 77.6rem;
  width: 160rem;
  height: 65rem;
  position: absolute;
  left: 16rem;
  top: 121rem;
  background-size: 115.082% 100%;
  background-position: -14.6793rem 0;
  background-image: url('REPLACE_IMAGE:0c2807b47b92bf90f1768f98a00610b39b362703');
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .auto-group-etpc-Car .frame-2620-G4v {
  margin-bottom: 24.4rem;
  width: 100%;
  height: 10.2rem;
  overflow: hidden;
  position: relative;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .auto-group-etpc-Car .frame-2620-G4v .mask1-Wjx {
  margin-right: 0rem;
  width: 10.3545rem;
  height: 10.3545rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask1.png');
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .auto-group-etpc-Car .frame-2620-G4v .mask1-Wjx .mask2-PYr {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask2-cUE.png');
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .auto-group-etpc-Car .frame-2620-G4v .mask1-Wjx .mask2-PYr .mask04-LU6 {
  width: 10.3545rem;
  height: 10.3545rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .auto-group-etpc-Car .auto-group-etpc-Car-bg {
  width: 160rem;
  height: 65rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:0c2807b47b92bf90f1768f98a00610b39b362703');
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc {
  box-sizing: border-box;
  padding: 0.2rem 16rem;
  width: 192.0806rem;
  height: 5rem;
  position: absolute;
  left: 0.0098rem;
  top: 5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.0599999987);
  background-color: #ffffff;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL {
  margin-right: 33.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .image-2-sPU {
  margin-right: 1rem;
  width: 4.6rem;
  height: 4.6rem;
  position: relative;
  background-size: 136.915% 100%;
  background-position: -0.7569rem 0;
  background-image: url('REPLACE_IMAGE:ee2b50aa0a3148a7ba50f13bded550e94f277436');
  border-radius: 100rem;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .sermed-4yk {
  margin: 1.724rem 0rem 1.724rem 0rem;
  height: calc(100% - 3.448rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .sermed-4yk .vector-uzN {
  margin: 0rem 0.063rem 0rem 0rem;
  width: 0.88rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .sermed-4yk .vector-DEN {
  margin: 0.016rem 0.223rem 0rem 0rem;
  width: 0.96rem;
  height: 1.136rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .sermed-4yk .vector-fcA {
  margin: 0rem 0.224rem 0rem 0rem;
  width: 0.912rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .sermed-4yk .vector-91Y {
  margin: 0rem 0.224rem 0rem 0rem;
  width: 0.912rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .sermed-4yk .vector-Rjk {
  margin: 0rem 0.224rem 0rem 0rem;
  width: 0.912rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .sermed-4yk .vector-Uxv {
  margin: 0rem 0.055rem 0rem 0rem;
  width: 0.88rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .sermed-4yk .vector-XRQ {
  margin: 0rem 0.48rem 0rem 0rem;
  width: 1.024rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .sermed-4yk .vector-qgz {
  margin: 0rem 0.177rem 0rem 0rem;
  width: 0.848rem;
  height: 1.152rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .sermed-4yk .vector-Ks4 {
  margin: 0rem 0.175rem 0rem 0rem;
  width: 0.72rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .sermed-4yk .vector-SAz {
  margin: 0rem 0.144rem 0rem 0rem;
  width: 0.848rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .sermed-4yk .vector-ieJ {
  margin: 0rem 0.223rem 0rem 0rem;
  width: 1.072rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .sermed-4yk .vector-yKL {
  margin: 0rem 0.175rem 0rem 0rem;
  width: 0.72rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2581-mbL .sermed-4yk .vector-s9p {
  margin-top: 0rem;
  width: 0.904rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt {
  margin: 0.1rem 13.4rem 0rem 0rem;
  width: 86.5rem;
  height: 4.5rem;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz {
  width: 66.5rem;
  height: 4.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 3rem;
  align-items: center;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-J8e {
  width: 5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-J8e .frame-1353-By8 {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-9Ya {
  width: 7.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 0 0.8rem 0 0;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-9Ya .frame-1353-tWA {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-UUN {
  width: 4.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-UUN .frame-1353-caa {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-Pze {
  width: 12.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-Pze .frame-1353-hVY {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-jx2 {
  width: 4.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-jx2 .frame-1353-dGi {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-fUJ {
  width: 7.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-fUJ .frame-1353-ZZg {
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-fUJ .rectangle-778-cH4 {
  width: 100%;
  height: 0.3rem;
  background-color: #14abb5;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-u1G {
  width: 6.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .tab-example-light-desktop-MKt .tabs-Dcz .desktop-tab-u1G .frame-1353-37U {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2580-6bY {
  margin: 0.8rem 0;
  box-sizing: border-box;
  padding-left: 0.3rem;
  height: calc(100% - 1.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2580-6bY .icon-mxa {
  margin-right: 2.3rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2580-6bY .basket-4gn {
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2580-6bY .basket-4gn .icon-oeN {
  width: 1.6rem;
  height: 1.8rem;
  position: absolute;
  left: 0.4rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-primary-nDc .frame-2580-6bY .basket-4gn .frame-28-gCN {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14abb5;
  border-radius: 10rem;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-secondary-NDc {
  box-sizing: border-box;
  padding: 1.4rem 16.1rem 1.4rem 114.7rem;
  width: 191.9rem;
  height: 5rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background-color: #f9fafb;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-secondary-NDc .frame-2562-34r {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-secondary-NDc .frame-2562-34r .text-button-JFg {
  margin-right: 0.75rem;
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.2rem 0.8rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2857142857;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-secondary-NDc .frame-2562-34r .clinicasermedslpgmailcom-tDt {
  margin-right: 3.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-secondary-NDc .frame-2562-34r .item-8-800-550-71-76-99p {
  margin-right: 2.95rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-secondary-NDc .frame-2562-34r .frame-2486-nia {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-secondary-NDc .frame-2562-34r .frame-2486-nia .text-uHQ {
  margin-right: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .header-secondary-NDc .frame-2562-34r .frame-2486-nia .text-p9U {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-230-rM4 {
  width: 21.6354rem;
  height: 1.8rem;
  position: absolute;
  left: 16rem;
  top: 12rem;
  display: flex;
  align-items: center;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-230-rM4 .auto-group-bi1c-KVY {
  margin-right: 0.6rem;
  width: 6.6177rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-230-rM4 .auto-group-bi1c-KVY .text-o9p {
  width: 6.1rem;
  height: 1.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2857142857;
  color: #9ca3af;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-230-rM4 .auto-group-bi1c-KVY .line-60-gjQ {
  width: 0.9177rem;
  height: 0.1rem;
  position: absolute;
  left: 5.7rem;
  top: 0.2447rem;
  background-color: #9ca3af;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-230-rM4 .text-kjG {
  margin-right: 1.9178rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2857142857;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-230-rM4 .text-qVp {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2857142857;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .text-7y8 {
  width: 52.5rem;
  height: 4rem;
  position: absolute;
  left: 16.1rem;
  top: 17.8rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.1111111111;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2689-WkN {
  width: 52.7rem;
  height: 10.8rem;
  position: absolute;
  left: 16.1rem;
  top: 79.8rem;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2689-WkN .text-RMY {
  margin-bottom: 2rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.1111111111;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2689-WkN .text-9HY {
  max-width: 51.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU {
  width: 159.6rem;
  height: 18.4rem;
  position: absolute;
  left: 16.1rem;
  top: 96.6rem;
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2614-6MC {
  box-sizing: border-box;
  padding: 2rem 2rem 2.8rem 2rem;
  width: 51.9rem;
  height: 100%;
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2614-6MC .frame-2609-Cf8 {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2614-6MC .frame-2609-Cf8 .text-94a {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2614-6MC .frame-2609-Cf8 .text-bhG {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2614-6MC .frame-2609-Cf8 .text-bhG .text-bhG-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2614-6MC .frame-2609-Cf8 .text-bhG .text-bhG-sub-1 {
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2614-6MC .frame-2610-pbx {
  display: flex;
  flex-direction: column;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2614-6MC .frame-2610-pbx .text-xiA {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2614-6MC .frame-2610-pbx .text-yNN {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2615-jF4 {
  box-sizing: border-box;
  padding: 2rem 2rem 2.8rem 2rem;
  width: 51.8rem;
  height: 100%;
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2615-jF4 .frame-2611-3Fk {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2615-jF4 .frame-2611-3Fk .text-kR4 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2615-jF4 .frame-2611-3Fk .text-qBc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2615-jF4 .frame-2612-vyk {
  display: flex;
  flex-direction: column;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2615-jF4 .frame-2612-vyk .text-5bk {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2615-jF4 .frame-2612-vyk .text-aoQ {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2618-SKp {
  box-sizing: border-box;
  padding: 2rem;
  width: 51.9rem;
  height: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2618-SKp .text-x3G {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2618-SKp .frame-2616-ewg {
  margin-right: 15.3rem;
  width: calc(100% - 15.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2618-SKp .frame-2616-ewg .ellipse-85-86A {
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:a55c649c3de1fe68b4b0cfbfabe9cac6d73434cc');
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2618-SKp .frame-2616-ewg .text-NWJ {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2618-SKp .frame-2616-ewg .text-NWJ .text-NWJ-sub-0 {
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2618-SKp .frame-2616-ewg .text-NWJ .text-NWJ-sub-1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2618-SKp .frame-2616-ewg .text-NWJ .text-NWJ-sub-2 {
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2618-SKp .frame-2617-ZDQ {
  margin-right: 21.2rem;
  width: calc(100% - 21.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2618-SKp .frame-2617-ZDQ .ellipse-86-5hY {
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: #d9d9d9;
  background-size: 136.915% 100%;
  background-position: -0.8227rem 0;
  background-image: url('REPLACE_IMAGE:ee2b50aa0a3148a7ba50f13bded550e94f277436');
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2618-SKp .frame-2617-ZDQ .ellipse-86-5hY .ellipse-86-5hY-bg {
  width: 5rem;
  height: 5rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:ee2b50aa0a3148a7ba50f13bded550e94f277436');
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2619-QDU .frame-2618-SKp .frame-2617-ZDQ .text-cL6 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .auto-group-8gwr-XDp .frame-2535-Spv {
  width: 159.8rem;
  height: 54rem;
  position: relative;
  left: 16.1rem;
  top: 23.8rem;
  background-size: 101.564% 200.395%;
  background-position: -0.8rem -14.1999rem;
  background-image: url('REPLACE_IMAGE:832987ba2a361dbb731ca915e02ba9f9e6c1f3de');
  border-radius: 2rem;
}
.desktop-layout-F1Q .futer-PNn {
  box-sizing: border-box;
  padding: 4rem 16rem 5.9rem 16rem;
  width: 100%;
  height: 24.9rem;
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci {
  margin-right: 38.15rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2581-HMg {
  margin: 0rem 5.6rem 10.4rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2581-HMg .image-2-bdG {
  margin-right: 1rem;
  width: 4.6rem;
  height: 4.6rem;
  position: relative;
  background-size: 136.915% 100%;
  background-position: -0.7569rem 0;
  background-image: url('REPLACE_IMAGE:ee2b50aa0a3148a7ba50f13bded550e94f277436');
  border-radius: 100rem;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2581-HMg .sermed-ozE {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #006f79;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .auto-group-v1gr-qg2 {
  box-sizing: border-box;
  padding-right: 3.95rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .auto-group-v1gr-qg2 .frame-2589-yGS {
  margin-right: 3.6rem;
  width: 13.8rem;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .auto-group-v1gr-qg2 .frame-2589-yGS .sermed-ssc {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .auto-group-v1gr-qg2 .frame-2589-yGS .item--YD4 {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .auto-group-v1gr-qg2 .frame-2589-yGS .auto-group-1gdt-bSE {
  margin-left: 0.1rem;
  width: 9.1rem;
  height: 5.4rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .auto-group-v1gr-qg2 .frame-2589-yGS .auto-group-1gdt-bSE .item--Cwp {
  width: 8.3rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .auto-group-v1gr-qg2 .frame-2589-yGS .auto-group-1gdt-bSE .item--sHG {
  width: 9rem;
  height: 2.2rem;
  position: absolute;
  left: 0.1rem;
  top: 3.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .auto-group-v1gr-qg2 .frame-2589-yGS .auto-group-1gdt-bSE .pointing-hand-TmG {
  width: 1.7723rem;
  height: 2rem;
  position: absolute;
  left: 7.2139rem;
  top: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .auto-group-v1gr-qg2 .frame-2590-M5x {
  width: 18.4rem;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .auto-group-v1gr-qg2 .frame-2590-M5x .item--gP8 {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .auto-group-v1gr-qg2 .frame-2590-M5x .item--5gA {
  margin-left: 0.7rem;
  max-width: 17.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .frame-2591-NYn {
  width: 14.6rem;
  height: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .frame-2591-NYn .item--pva {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .frame-2591-NYn .babor-skinovage-s8A {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .frame-2591-NYn .christina-L1k {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .frame-2591-NYn .item--biN {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2594-Dci .frame-2593-6TY .frame-2591-NYn .item--TEn {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2592-taz {
  margin-bottom: 8.4rem;
  height: 6.6rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2592-taz .frame-2587-men {
  margin-right: 4.4rem;
  width: 24.1rem;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2592-taz .frame-2587-men .item-8-800-550-71-76-3MQ {
  margin-bottom: 0.2rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .futer-PNn .frame-2592-taz .frame-2587-men .item--Rsk {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .futer-PNn .frame-2592-taz .frame-2591-38S {
  width: 21.9rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2592-taz .frame-2591-38S .clinicasermedslpgmailcom-wUi {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #18181b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-layout-F1Q .futer-PNn .frame-2592-taz .frame-2591-38S .frame-2586-ETp {
  margin-right: 2.6rem;
  width: calc(100% - 2.6rem);
  height: 3rem;
  display: flex;
  align-items: center;
}
.desktop-layout-F1Q .futer-PNn .frame-2592-taz .frame-2591-38S .frame-2586-ETp .frame-2584-wt2 {
  margin-right: 2.15rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2592-taz .frame-2591-38S .frame-2586-ETp .frame-2584-wt2 .facebook-2Pg {
  margin-right: 0.55rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2592-taz .frame-2591-38S .frame-2586-ETp .frame-2584-wt2 .facebook-jot {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2592-taz .frame-2591-38S .frame-2586-ETp .frame-2585-SyC {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2592-taz .frame-2591-38S .frame-2586-ETp .frame-2585-SyC .instagramm-PdY {
  margin-right: 0.6rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-layout-F1Q .futer-PNn .frame-2592-taz .frame-2591-38S .frame-2586-ETp .frame-2585-SyC .instagram-HU2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
